# Ignore compiled files file name: .gitignore
*.class

# Ignore Maven / Gradle directories
/target/
/build/
token

# IDE settings
.idea/
/*.iml
*.swp

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
.lck

#config files
config.yml
/*-pom.xml
settings.json

